EnableWebsockets: False
AllowedWebsocketHosts:
  - www.example.com

# Database configuration
database:
  enabled: true
  path: "./albion-market.db"

# GUI configuration
gui:
  enabled: true
  auto_refresh_seconds: 5
  start_minimized: false
  rows_per_page: 100